@import 'utility';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: hidden; /* Prevents scroll wobble */
  // touch-action: manipulation;
  // -webkit-overflow-scrolling: touch;
  background-color: $clrPrim200;
  color: $fff;
}

.home-con {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: $clrPrim200;
  color: $fff;

  .app-logo {
    max-width: 300px;
  }

  .btn-con {
    width: 150px;
    margin-inline: auto;
    text-align: center;
    .open-btn {
      width: 100%;
      border-radius: 30px;

      .icon {
        padding-right: 1rem;
        color: $clrPrim200;
      }
    }
  }
}

// Hymn Page Style Rules

#hymn-wrapper > * {
  flex-shrink: 0;
}
#hymn-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .hymn-list-con {
    overflow-y: auto;
    height: calc(100vh - 180px);

    .hymn-list-item {
      color: $clrSec200;
      font-size: 1.2rem;
      padding: 0.3rem 1rem;
      border-bottom: 1px solid $clrPrim300;
      margin-bottom: 1rem;
    }
  }
}

// HEADER  STYLE RULES
.header-con {
  width: 100%;
  // height: 120px;
  background-color: $clrPrim200;
  padding: $sp1;
  background-color: $clrPrim100;

  .title {
    height: auto;
  }

  .header-con-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $sp1;

    .menu-icon {
      padding: 0.5rem;
    }
  }
}

.search-con {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $clrPrim100;
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .input-field {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: $br25;
    border: none;
    outline: none;
    caret-color: $clrSec200;

    opacity: 1;
    font-size: 1rem;
    color: $clrSec100;

    &::placeholder {
      color: $clrPrim400;
    }
  }

  // .search-icon {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 2px;
  //   color: $clrSec200;
  //   background-color: $clrPrim200;
  //   // border: 2px solid $clrPrim100;
  //   padding: 14px;
  //   border-radius: $br50;
  //   font-size: 1rem;
  //   cursor: pointer;
  // }

  // .close-search {
  //   right: 50px;
  //   background-color: transparent;
  // }
}

// SIDEBAR STYLES
.sidebar {
  position: fixed;
  top: 0;
  left: -70%;
  background-color: $clrPrim100;
  width: 70%;
  height: 100%;
  opacity: 0.98;
  z-index: 1000;
  padding-top: 6rem;
  transition: all 0.3s ease;

  .exit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
  }

  .sidebar-list {
    padding-inline: 1rem;

    .sidebar-links {
      padding-block: 1rem;
      border-bottom: 1px solid $clrPrim200;

      .sidebar-link-icons {
        color: $clrPrim300;
        margin-right: 1rem;
      }
    }
  }
}

.sidebar.open {
  left: 0; /* Slide in */
}

.sidebar.closed {
  left: -70%; /* Slide out */
}

// FOOTER STYLE RULES
.footer-con {
  // height: 60px;
  background-color: $clrPrim100;
  width: 100%;
  padding-inline: $sp3;
  padding-block: $sp1;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons {
    color: $clrPrim300;
  }
  // .home-icon {
  //   color: $clrSec200;
  // }
}

// HYMN PAGE STYLES

#hymn-page-con > * {
  flex-shrink: 0;
}

#hymn-page-con {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

// HYMN DISPLAY STYLES

.hymn-display-con {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  overflow-y: auto;

  .hymn-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: $clrSec200;
    // margin-top: 1rem;
    box-shadow: $shadowMd;
    padding: 0.5rem 0.5rem 1rem;
  }

  .hymn-lyrics-wrapper {
    padding: 1rem;
    max-height: 50vh;
    max-width: 800px;
    overflow-y: auto;
    margin-inline: auto;

    .hymn-lyrics {
      white-space: pre-wrap;
      font-size: 1.5rem;
      // font-family: 'Poppins', sans-serif;
      font-family: 'Montserrat', sans-serif;
      // font-family: 'Outfit', sans-serif;
      line-height: 1.7;
      color: #fff;
    }
  }
}

@media (width<=768px) {
  .hymn-display-con {
    .hymn-lyrics-wrapper {
      padding: 1rem;
      max-height: 80vh;
    }
  }
}
